body {
    background-image: url(Images/background.jpg);
    background-attachment:fixed;
    background-size:cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;

}

body .main{
    height: 72vh;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background-color: rgba(52, 52, 52, 0.496);
    z-index: -1;
}

/* For header */

.header{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(196,0,0,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    height: 15vh;
    overflow: hidden;
}

.header .main-img{
    height: 15.5vh;
    vertical-align: middle;
    padding: 5px;
}

.text{
    color: azure;
    margin-left: 5%;
    font-family: "Monoton", sans-serif;
    font-style: normal;
    font-size: 4.8vw;
    vertical-align: middle;
}
.text a{
    text-decoration: none;
    color: azure;
}

.insta img,.facebook img{
    height: 4.5vh;
    vertical-align: middle;
    padding: 5px;
}

.logos{
    margin-right: 60px;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transform: scale(0.85);
    vertical-align: middle;
    transition: ease-in-out 0.3s;
}

.logos:hover{
    transform: scale(1.12);
}
.Instagram:hover{
    color: rgba(196,0,0,1);
}
.Facebook:hover{
    color: rgba(196,0,0,1);
}
.insta a,.facebook a{
    text-decoration: none;
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
}

/* Navigation Bar */

.nav-bar{
    display: flex;
    background-color: rgba(240, 248, 255, 1);
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.nav-bar a{
    text-decoration: none;
    font-size: 1.2vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
    transition: ease-in-out 0.2s;
    padding: 4px;
}

.homepage:hover{
    transform: scale(1.2);
    font-weight: 900;
    color: rgba(196,0,0,1);
}

.pictures:hover{
    transform: scale(1.2);
    font-weight: 900;
    color: rgba(196,0,0,1);
}

.about_us:hover{
    transform: scale(1.2);
    font-weight: 900;
    color: rgba(196,0,0,1);
}

.login:hover{
    transform: scale(1.2);
    font-weight: 900;
    color: rgba(196,0,0,1);
}

.contents .main-img{
    width: 20vw;
    margin: 20px;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(196,0,0,1);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Cards */

.header{
    height: vh;
}

.contents{
    display: flex;
    justify-content: space-evenly;
}

.card_1,.card_2, .card_3{
    position: relative;
    text-align: center;
}


/* Individual Cards */

/* Card 1 */
.card_1 .image_1 img{
    position: relative;
    height: 30vh;
    transform: scale(0.92);
    border-radius: 20px;
    top: -40%;
    z-index: 1;
}

.card_1{
    margin-top: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.389);
    border-radius: 20px;
    width: 400px;
    height: 215px;
    transition: ease-in-out 0.3s;
    background-color: rgba(255, 255, 255, 0.7);
}

.card_1 .des_1{
    opacity: 0;
    transition: opacity ease-in .3s,  margin-bottom ease-in-out .3s,  margin-top ease-in-out .3s;
    margin-top: -100px;
    margin-bottom: 0px;
    transition-delay: 0.1s, 0s, 0s;
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.card_1:hover .des_1{
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 50px;
}

.card_1:hover{
    height: 345px;
    background-color: rgba(196,0,0,1);
}

/* Card 2 */

.card_2 .image_2 img{
    position: relative;
    height: 30vh;
    transform: scale(0.92);
    border-radius: 20px;
    top: -40%;
    z-index: 1;
}

.card_2{
    margin-top: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.389);
    border-radius: 20px;
    width: 400px;
    height: 215px;
    transition: ease-in-out 0.3s;
    background-color: rgba(255, 0, 0, 0.7);
}

.card_2 .des_2{
    opacity: 0;
    transition: opacity ease-in .3s,  margin-bottom ease-in-out .3s,  margin-top ease-in-out .3s;
    margin-top: -100px;
    margin-bottom: 0px;
    transition-delay: 0.1s, 0s, 0s;
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
    color: rgb(0, 0, 0);
}

.card_2:hover .des_2{
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 50px;
}

.card_2:hover{
    height: 345px;
    background-color: rgb(255, 255, 255);
}

/* Card 3 */

.card_3 .image_3 img{
    position: relative;
    height: 30vh;
    transform: scale(0.92);
    border-radius: 20px;
    top: -40%;
    z-index: 1;
}

.card_3{
    margin-top: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.389);
    border-radius: 20px;
    width: 400px;
    height: 215px;
    transition: ease-in-out 0.3s;
    background-color: rgba(255, 255, 255, 0.7);
}

.card_3 .des_3{
    opacity: 0;
    transition: opacity ease-in .3s,  margin-bottom ease-in-out .3s,  margin-top ease-in-out .3s;
    margin-top: -100px;
    margin-bottom: 0px;
    transition-delay: 0.1s, 0s, 0s;
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.card_3:hover .des_3{
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 50px;
}

.card_3:hover{
    height: 345px;
    background-color: rgba(196,0,0,1);
}

/* Line over about-us div or section */

.line{
    display: flex;
    justify-content: center;
}

.border{
    width: 92%;
    border-radius: 50px; /* Set the width of your div */
    background: rgb(29,29,29);
    margin-top: 90px;
    background: linear-gradient(90deg, rgba(29,29,29,0) 0%, rgba(255,0,0,1) 50%, rgba(62,0,0,0) 100%); /* Just for visualization */
    padding: 2px;
}

/* About Us */

.about-us p{
    color: azure;
    text-decoration: none;

}

.about img{
    height: 2vh;
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 4px;
}

.about-us a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
}

.socials{
    padding-left: 272px;
}

.socials_2{
    padding-left: 265px;
}

.socials_3{
    padding-left: 292px;
}

.about p{
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 250;
    font-style: normal;
}

.about{
    margin-left: 50px;
}
