/* For header */
body {
    background-image: url(Images/background.jpg);
    background-attachment:scroll;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body .main{
    height: 100%;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(91, 91, 91, 0.295);
    z-index: -1;
}


/* For header */


.header{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(196,0,0,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    height: auto;
    width: 97vw;
    position: relative;
    overflow: hidden;
}

.header .main-img{
    height: 18.5vw;
    vertical-align:top;
    position: absolute;
    top: 20%;
    left: 55%;

}

.text{
    color: azure;
    margin-left: 5%;
    font-family: "Monoton", sans-serif;
    font-style: normal;
    font-size: 4.8vw;
    vertical-align: middle;
}
.text a{
    text-decoration: none;
    color: azure;
}

.insta img,.facebook img{
    height: 2.5vh;
    vertical-align: middle;
    padding: 5px;
}

.logos{
    margin-right: 2vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transform: scale(0.85);
    vertical-align: middle;
    transition: ease-in-out 0.3s;
}

.logos:hover{
    transform: scale(1.12);
}
.Instagram:hover{
    color: rgba(196,0,0,1);
}
.Facebook:hover{
    color: rgba(196,0,0,1);
}
.insta a,.facebook a{
    text-decoration: none;
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 85%;
    color: rgb(0, 0, 0);
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
}

/* Navigation Bar */

.nav-bar{
    display: flex;
    background-color: rgba(240, 248, 255, 1);
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.nav-bar a{
    text-decoration: none;
    font-size: 85%;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
    transition: ease-in-out 0.2s;
    padding: 4px;
}

.homepage:hover{
    transform: scale(1.2);
    font-weight: 900;
    color: rgba(196,0,0,1);
}

.pictures:hover{
    transform: scale(1.2);
    font-weight: 900;
    color: rgba(196,0,0,1);
}

.about_us:hover{
    transform: scale(1.2);
    font-weight: 900;
    color: rgba(196,0,0,1);
}

.login:hover{
    transform: scale(1.2);
    font-weight: 900;
    color: rgba(196,0,0,1);
}

.contents .main-img{
    width: 20vw;
    margin: 20px;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(196,0,0,1);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Grid/Images */

.gird {
	display: grid;
	grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	justify-items: center;
	align-items: center;
	grid-row-gap: 8vh;
    grid-column-gap: 8vh;
    margin-top: 4vw;

}
.image img{
    height: 12.4em;
    width: 100%;
    border-radius: 1.5vw;
}
.fade::before{
    content: "";
    position: absolute;
    top: 10;
    left: 10;
    border-radius: 1.5vw;
    width: 98%;
    height: 12.4em;
    background-color: rgba(255, 0, 0, 0); /* Set transparent color */
    transition: background-color 0.3s ease; /* Smooth transition */
    pointer-events: none;
}
.fade:hover::before{
    background-color: rgba(0, 0, 0, 0.5);
}
.image{
    background-color: aliceblue;
    padding: 1%;
    border-radius: 1.5vw;
    transition: ease-in-out 0.2s;
    width: 100%;
}

.image:hover{
    transform: scale(1.1);
}
.image .par{
    margin-top: 7%;
    margin-left: 7%;
    z-index: 0px;
    visibility: hidden;
    position: absolute;
    font-family: "Chakra Petch", sans-serif;
    font-style: bold;
    font-weight:bold;
    z-index: 5;
}
.image:hover .par{
    visibility: visible;
    position:absolute;
    transform: translate(50%, 350%);
    color: rgb(255, 255, 255);

}

/* Line over about-us div or section */

.line{
    display: flex;
    justify-content: center;
}

.border{
    width: 92%;
    border-radius: 50px; /* Set the width of your div */
    background: rgb(29,29,29);
    margin-top: 90px;
    background: linear-gradient(90deg, rgba(29,29,29,0) 0%, rgba(255,0,0,1) 50%, rgba(62,0,0,0) 100%); /* Just for visualization */
    padding: 2px;
}


  
/* About Us */

.about-us p{
    color: azure;
    text-decoration: none;

}

.about img{
    height: 1vw;
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 4px;
}

.about-us a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
}




.about p{
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 250;
    font-size: 70%;
    font-style: normal;
}

.about{
    margin-left: 2%;
}

.about-us{
    margin-bottom: 50px;
}

/* Copyright */
.Copyright{
    color: azure;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-size: 70%;
}

/* For Small Screen Size*/


@media screen and (max-width : 600px) {
    .contents{
    flex-direction: column;
    align-items: center;
    }
    body .main{
        height: 550vw;
    }
    
}

